.comments {
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-decoration: bold;
	font-size: 30px;
}

.language .day .month{
	display: inline-flex;
	text-align:center;
	padding:40px;
	margin:left;
	text-decoration: bold;
	font-size:30px;
}

#footer ul{
	padding:10px;
	list-style:none;

}

#footer li{
	margin:0px;
	padding:18px;
	padding-bottom:2px;

}

#footer li a{
	display:inline-flex;
	width:150px;
	margin-right:5px;
	text-align:center;
	padding:2px;
	color:black;
}

.col3{
	width: 24.99%;
	padding: 5px;
}

.row {
	display:inline-flex;
}
#footer li a p{
	padding-top:20px;
}